<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title> Eatveg </title>

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.css" />
  <!-- font awesome style -->
  <link href="/css/font-awesome.min.css" rel="stylesheet" />
  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,700|Raleway:400,700&display=swap" rel="stylesheet" />
  <!-- Custom styles for this template -->
  <link href="/css/style.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="/css/responsive.css" rel="stylesheet" />
</head>

<body class="sub_page">
  <div class="hero_area">
    <div class="hero_bg_box">
      <img src="/images/hero-bg.jpg" alt="">
    </div>
    <!-- header section strats -->
    <header class="header_section">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container">
          <a class="navbar-brand" href="index.html">
            <span>
              Eatveg
            </span>
          </a>
          <div class="" id="">
            <div class="container">
              <div class=" mr-auto flex-column flex-lg-row align-items-center">
                <ul class="navbar-nav justify-content-between ">
                  <div class="User_option">
                    <li class="">
                      <a class="" href="">
                        <i class="fa fa-user" aria-hidden="true"></i>
                      </a>
                    </li>
                    <form class="form-inline ">
                      <button class="btn   nav_search-btn" type="submit">
                        <i class="fa fa-search" aria-hidden="true"></i>
                      </button>
                    </form>
                  </div>
                </ul>
              </div>
            </div>

            <div class="custom_menu-btn">
              <button onclick="openNav()">
                <span class="s-1"> </span>
                <span class="s-2"> </span>
                <span class="s-3"> </span>
              </button>
            </div>
            <div id="myNav" class="overlay">
              <div class="overlay-content">
                <a href="index.html">HOME</a>
                <a href="about.html">ABOUT</a>
                <a href="vegetables.html">VEGETABLES</a>
                <a href="contact.html">CONTACT US</a>
              </div>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <!-- end header section -->
  </div>

  <!-- contact section -->
  <section class="contact_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <h2>
          Add new <span>product</span>
        </h2>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form_container contact-form">
            <form action="" method="post">
              <div>
                <input type="text" name="name" value="<%=product.name%>" />
              </div>
              <div>
                <input type="number" name="price" value="<%=product.price%>" />
              </div>
              <div>
                <input type="number" name="quantity" value="<%=product.quantity%>" />
              </div>
              <div>
                <select class="custom-select" name="category" required placeHoder="Select one">
                  <%categories.map(category => {%>
                  <option value='<%=category._id%>'><%=category.name%></option>
                  <%})%>
                </select>
              </div>
              <div>
                <input class="form-control" rows="6" placeholder="image" type="file" id="fileButton" onchange="uploadImage(event)" required>
                <input type="text" id="image" name="image">
                <div id="imgDiv"></div>
              </div>
              <div class="btn_box">
                <button type="submit">
                  Submit
                </button>
              </div>
            </form>
          </div>
        </div>
<!--        <div class="col-md-6">-->
<!--          <div class="map_container">-->
<!--            <div class="map">-->
<!--              <div id="googleMap"></div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
      </div>
    </div>
  </section>
  <!-- end contact section -->

  <!-- footer section -->
  <section class="container-fluid footer_section " >
    <div class="container">
      <div class="row ">
        <div class="col-sm-6 col-md-4 col-lg-3 footer-col">
          <div class="footer_detail">
            <a href="index.html">
              <h4>
                YAOYASAN
              </h4>
            </a>
            <p>
              生産者が直接購入者の自宅や送り先へ商品を直送することを特徴とする国内の産直ECサイトにおいて、プラットフォーム上で消費者が視認可能な生産者数が最大である。
            </p>
            <div class="social_box">
              <a href="">
                <i class="fa fa-facebook" aria-hidden="true"></i>
              </a>
              <a href="">
                <i class="fa fa-twitter" aria-hidden="true"></i>
              </a>
              <a href="">
                <i class="fa fa-linkedin" aria-hidden="true"></i>
              </a>
              <a href="">
                <i class="fa fa-instagram" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 mx-auto footer-col">
          <h4>
            お問い合わせ
          </h4>
          <p>
            ベトナム最大級の産直サイト『YAOYASAN』登録生産者数No.1
          </p>
          <div class="contact_nav">
            <a href="">
              <i class="fa fa-map-marker" aria-hidden="true"></i>
              <span>
                会社情報
              </span>
            </a>
            <a href="">
              <i class="fa fa-phone" aria-hidden="true"></i>
              <span>
                問い合わせ先 : +01 123455678990
              </span>
            </a>
            <a href="">
              <i class="fa fa-envelope" aria-hidden="true"></i>
              <span>
                メールアドレス : demo@gmail.com
              </span>
            </a>
          </div>
        </div>
        <div class="col-md-4 footer-col">
          <div class="footer_form">
            <h4>
              SIGN UP TO OUR NEWSLETTER
            </h4>
            <form action="">
              <input type="text" placeholder="Enter Your Email" />
              <button type="submit">
                Subscribe
              </button>
            </form>
          </div>
        </div>
      </div>
      <div class="footer-info">
        <p>
          &copy; <span id="displayYear"></span> All Rights Reserved By
          <a href="https://html.design/">YAOYASAN</a>
        </p>
      </div>
    </div>
  </section>
  <!-- end  footer section -->

  <script type="text/javascript" src="/js/jquery-3.4.1.min.js"></script>
  <script type="text/javascript" src="/js/bootstrap.js"></script>
  <script type="text/javascript" src="/js/custom.js"></script>
  <!-- Google Map -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCh39n5U-4IoWpsVGUHWdqB6puEkhRLdmI&callback=myMap"></script>
  <!-- End Google Map -->

  <!--uploadFile-->
  <script src="https://www.gstatic.com/firebasejs/4.2.0/firebase.js"></script>
  <script>
    // Initialize Firebase
    const firebaseConfig = {
      apiKey: "AIzaSyCJe0l2QrmIhsjsNI_hn-aKNF7oY0_ZnxE",
      authDomain: "crud-8adf5.firebaseapp.com",
      projectId: "crud-8adf5",
      storageBucket: "crud-8adf5.appspot.com",
      messagingSenderId: "405629308956",
      appId: "1:405629308956:web:0b272898ea071b59c34fd9",
      measurementId: "G-QJX462K990"
    };
    firebase.initializeApp(firebaseConfig);
  </script>

  <script type="text/javascript">
    function uploadImage(e) {
      let fbBucketName = 'images';
      let uploader = document.getElementById('uploader');
      let file = e.target.files[0];
      let storageRef = firebase.storage().ref(`${fbBucketName}/${file.name}`);
      let uploadTask = storageRef.put(file);
      uploadTask.on(firebase.storage.TaskEvent.STATE_CHANGED,
              function (snapshot) {
                uploader.value = (snapshot.bytesTransferred / snapshot.totalBytes) * 100;
                switch (snapshot.state) {
                  case firebase.storage.TaskState.PAUSED:
                    break;
                  case firebase.storage.TaskState.RUNNING:
                    break;
                }
              }, function (error) {
                switch (error.code) {
                  case 'storage/unauthorized':
                    break;
                  case 'storage/canceled':
                    break;
                  case 'storage/unknown':
                    break;
                }
              }, function () {
                let downloadURL = uploadTask.snapshot.downloadURL;
                document.getElementById('imgDiv').innerHTML = `<img src="${downloadURL}" alt="" style='width: 50px; height:50px'>`
                // localStorage.setItem('image', downloadURL);
                // alert(downloadURL)
                document.getElementById('image').value = downloadURL
              });
    }
  </script>





</body>

</html>