<!DOCTYPE html>
<html>

<head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title> Eatveg </title>

    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css" />
    <!-- font awesome style -->
    <link href="/css/font-awesome.min.css" rel="stylesheet" />
    <!-- fonts style -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,700|Raleway:400,700&display=swap" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="/css/style.css" rel="stylesheet" />
    <!-- responsive style -->
    <link href="/css/responsive.css" rel="stylesheet" />
    <style>
        body{
            margin-top:20px;
            background:#eee;
        }
        .ui-w-40 {
            width: 40px !important;
            height: auto;
        }

        .card{
            box-shadow: 0 1px 15px 1px rgba(52,40,104,.08);
        }

        .ui-product-color {
            display: inline-block;
            overflow: hidden;
            margin: .144em;
            width: .875rem;
            height: .875rem;
            border-radius: 10rem;
            -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,0.15) inset;
            box-shadow: 0 0 0 1px rgba(0,0,0,0.15) inset;
            vertical-align: middle;
        }
        Similar snippe
    </style>
</head>

<body class="sub_page">
<div class="hero_area">
    <div class="hero_bg_box">
        <img src="/images/hero-bg.jpg" alt="">
    </div>
    <!-- header section strats -->
    <header class="header_section">
        <div class="container-fluid">
            <nav class="navbar navbar-expand-lg custom_nav-container">
                <a class="navbar-brand" href="index.html">
            <span>
              八百屋さん
            </span>
                </a>
                <div class="" id="">
                    <div class="container">
                        <div class=" mr-auto flex-column flex-lg-row align-items-center">
                            <ul class="navbar-nav justify-content-between ">
                                <div class="User_option">
                                    <li class="">
                                        <a class="" href="">
<!--                                            <i class="fa fa-user" aria-hidden="true"></i>-->
                                        </a>
                                    </li>
                                    <form class="form-inline ">
                                        <button class="btn   nav_search-btn" type="submit">
<!--                                            <i class="fa fa-search" aria-hidden="true"></i>-->
                                        </button>
                                    </form>
                                </div>
                            </ul>
                        </div>
                    </div>

                    <div class="custom_menu-btn">
                        <button onclick="openNav()">
                            <span class="s-1"> </span>
                            <span class="s-2"> </span>
                            <span class="s-3"> </span>
                        </button>
                    </div>
                    <div id="myNav" class="overlay">
                        <div class="overlay-content">
                            <a href="/users">BACK TO SHOPPING</a>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <!-- end header section -->
</div>

<!-- contact section -->
<section  class="contact_section layout_padding">
    <div class="container">
        <div class="heading_container">
            <h2>
                Shopping <span>History</span>
            </h2>
        </div>
        <div class="container px-3 my-5 clearfix">
<!--          start-->


            <%carts.map(item => {%>
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered m-0">
                            <thead>
                            <tr>
                                <!-- Set columns width -->
                                <th class="text-center py-3 px-4" style="min-width: 400px;">Product Name &amp; Details</th>
                                <th class="text-right py-3 px-4" style="width: 100px;">Price</th>
                                <th class="text-center py-3 px-4" style="width: 120px;">Quantity</th>
                                <th class="text-right py-3 px-4" style="width: 100px;">Total</th>
                                <th class="text-center align-middle py-3 px-0" style="width: 40px;"><a href="#" class="shop-tooltip float-none text-light" title="" data-original-title="Clear cart"><i class="ino ion-md-trash"></i></a></th>
                            </tr>
                            </thead>
                            <tbody>


                            <%item.cart['cart_items'].map(item => {%>
                            <tr>
                                <td class="p-4">
                                    <div class="media align-items-center">
                                        <img src="<%=item.image%>" class="d-block ui-w-40 ui-bordered mr-4" alt="">
                                        <div class="media-body">
                                            <a class="d-block text-dark"><%=item.name%></a>
                                        </div>
                                    </div>
                                </td>
                                <td class="text-right font-weight-semibold align-middle p-4"><%=item.price%></td>
                                <td class="align-middle p-4"><input type="text" class="form-control text-center" value="<%=item.quantity%>"></td>
                                <td class="text-right font-weight-semibold align-middle p-4"><%=item.total_price_product%></td>
                            </tr>
                            <%})%>


                            </tbody>
                        </table>
                    </div>
                    <!-- / Shopping cart table -->

                    <div class="d-flex flex-wrap justify-content-between align-items-center pb-4">
                        <div class="mt-4">
                            <label class="text-muted font-weight-normal"></label>
                        </div>
                        <div class="d-flex">
                            <div class="text-right mt-4">
                                <label class="text-muted font-weight-normal m-0">Total price: <%=item.cart.total_price%></label>
                                <div class="text-large"><strong></strong></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <%})%>




<!--end-->
        </div>
    </div>
</section>
<!-- end contact section -->

<!-- footer section -->
<section class="container-fluid footer_section " >
    <div class="container">
        <div class="row ">
            <div class="col-sm-6 col-md-4 col-lg-3 footer-col">
                <div class="footer_detail">
                    <a href="index.html">
                        <h4>
                            YAOYASAN
                        </h4>
                    </a>
                    <p>
                        生産者が直接購入者の自宅や送り先へ商品を直送することを特徴とする国内の産直ECサイトにおいて、プラットフォーム上で消費者が視認可能な生産者数が最大である。
                    </p>
                    <div class="social_box">
                        <a href="">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                        </a>
                        <a href="">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                        </a>
                        <a href="">
                            <i class="fa fa-linkedin" aria-hidden="true"></i>
                        </a>
                        <a href="">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 mx-auto footer-col">
                <h4>
                    お問い合わせ
                </h4>
                <p>
                    ベトナム最大級の産直サイト『YAOYASAN』登録生産者数No.1
                </p>
                <div class="contact_nav">
                    <a href="">
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                        <span>
                会社情報
              </span>
                    </a>
                    <a href="">
                        <i class="fa fa-phone" aria-hidden="true"></i>
                        <span>
                問い合わせ先 : +01 123455678990
              </span>
                    </a>
                    <a href="">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                        <span>
                メールアドレス : demo@gmail.com
              </span>
                    </a>
                </div>
            </div>
            <div class="col-md-4 footer-col">
                <div class="footer_form">
                    <h4>
                        SIGN UP TO OUR NEWSLETTER
                    </h4>
                    <form action="">
                        <input type="text" placeholder="Enter Your Email" />
                        <button type="submit">
                            Subscribe
                        </button>
                    </form>
                </div>
            </div>
        </div>
        <div class="footer-info">
            <p>
                &copy; <span id="displayYear"></span> All Rights Reserved By
                <a href="https://html.design/">YAOYASAN</a>
            </p>
        </div>
    </div>
</section>
<!-- end  footer section -->

<script type="text/javascript" src="/js/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.js"></script>
<script type="text/javascript" src="/js/custom.js"></script>
<!-- Google Map -->
<!--  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCh39n5U-4IoWpsVGUHWdqB6puEkhRLdmI&callback=myMap"></script>-->
<!-- End Google Map -->
</body>

</html>